{{#if (isNotEmpty msg)}}
<div class="col-xs-12 col-md-8 alert alert-{{msg.type}} alert-dismissible fade show" role="alert">
    <strong>{{{msg.type}}} !!!</strong>
    {{{ msg.message }}}

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

<div class="col-xs-12 col-md-8 card mb-5 p-0 add-box shadow">
    <div class="card-header">
        <h2>TWS Home</h2>
    </div>
    <div class="card-body">
        <form action="/tws" method="POST">
            <div class="form-group">
                <textarea class="form-control message-box" name="message" id="exampleFormControlTextarea1"
                    placeholder="Write your twitt!" rows="2"></textarea>
            </div>
            <button type="submit" class="btn btn-danger add-btn rounded-pill">Add</button>
        </form>
    </div>
</div>

<h2 class="mb-3">Messages </h2>

<div class="col-xs-12 col-md-8">
    <div class="row">
      
        {{#each tws}}

        <div class="card col-12 mb-4 p-0 shadow post-card">
            <div class="card-header">
                <div class="header-left">
                    <div class="avatar">
                        <img src="/images/profile.jpg" class="rounded" alt="Avatar" />
                    </div>
                    <h5>User</h5>
                </div>
                <a href="/tws/delete/{{this._id}}" class="close text-danger" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="card-body">
                {{#if (isNotEmpty ../data)}}
                  
                    {{#if (isEquals this._id ../data.id)}}
                        <form action="/tws/{{this._id}}" method="POST">
                            <div class="form-group">
                                <textarea class="form-control message-box" name="message" id="exampleFormControlTextarea1"
                                    placeholder="Write your twitt!" rows="2">{{{this.message}}}</textarea>
                            </div>
                            <button type="submit" class="btn btn-danger add-btn rounded-pill">Edit</button>
                        </form>
                    {{else}}
                        <p class="card-text">{{{this.message}}}</p>
                    {{/if}}
                {{else}}
                    <p class="card-text">{{{this.message}}}</p>
                {{/if}}
            </div>
            <div class="card-footer text-muted">
                <small>{{{ formatDate this.createdAt }}}</small>
                <a href="/tws/action/edit/{{this._id}}"><i class="fa fa-edit"></i></a>
            </div>
        </div>
        {{/each}}
    </div>
</div>